@import './fonts.css';

html {
    font-family: Arial;
}

/**
 * Header
 * 
 */
html > body > header a.logo {
    background-image: url('/apps/nytimes/images/logos/full-543x80.png');
}

html > body > header a.logo:hover {
    transform: scale(1.05);
}

html > body > header div.social a:hover {
    background-color: #6489a4;
}

/**
 * Loader
 * 
 */
html > body > div.content div.loader {
    background-color: #2c2c2c;
}

html > body > div.content div.loader > div.media div.copy {
    font-family: 'cheltenham-normal-500';
}

html > body > div.content div.loader > div.media div.graphic div.media {
    border-radius: 100px;
}

/**
 * Podcasts content
 * 
 */
html > body > div.content > div.podcasts > div.podcasts {
    background-color: #f7f7f7;
}

html > body > div.content div.podcasts nav > div div.badge {
    background-color: #f32e66;
}

html > body > div.content div.podcasts nav > div div.badge.secondary {
    background-color: #f56a92;
}

html > body > div.content div.podcasts div.podcasts div.podcast div.empty div.copy p {
    font-family: 'nyt-cheltenham-sh-400-normal';
}

html > body > div.content div.podcasts div.podcasts div.podcast div.episodes div.more a {
    font-family: 'nyt-franklin-700-normal';
    background-color: #ebebeb;
    border-color: #cccccc;
    color: #333333;
}

html > body > div.content div.podcasts div.podcasts div.podcast div.episodes div.more a:hover {
    background-color: #e2e2e2;
    color: #333333;
}

html > body > div.content div.podcasts div.podcasts div.podcast div.episodes div.episode a div.details div.title {
    font-family: 'cheltenham-normal-700';
}

html > body > div.content div.podcasts div.podcasts div.podcast div.episodes div.episode a div.details div.timestamp.highlight {
    background-color: #f62964;
}

html > body > div.content div.podcasts div.podcasts div.podcast div.episodes div.episode a div.details div.timestamp.highlight.secondary {
    background-color: #f62964;
    opacity: 0.7;
}

html > body > div.content div.podcasts div.podcasts div.podcast div.episodes div.episode a:hover div.details div.title {
    color: #f92361;
}

/**
 * Footer
 * 
 */
html > body > footer > a {
    font-family: 'nyt-franklin-700-normal';
}

/**
 * Modals
 * 
 */
html > body > div.modal div.content h1 sup {
    font-family: 'cheltenham-normal-500';
}

html > body > div.modal div.content p {
    font-family: Georgia;
}
