@font-face {
    font-family: 'Proxima Nova';
    font-weight: 500;
    src: url('/apps/kerning/fonts/Proxima-Nova-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url('/apps/kerning/fonts/Proxima-Nova-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    src: url('/apps/kerning/fonts/Proxima-Nova-Bold.otf') format('opentype');
}
